body {
    font-family: Georgia, 'Times New Roman', serif;
    width: 940px;
    margin: 0 auto;
}

h1 {
    color: #3d3d3d;
    background-color: #E1EDF2;
    padding: 10px;
}

h2, h3 {
    border-bottom: 2px solid #3D3D3D;
}

.imagem-centralizada {
    text-align: center;
    background-color: whitesmoke;
    color: gray;
    padding: 15px;
    margin: 30px auto;
    border-radius: 8px;
}

.imagem-centralizada img {
    display: inline-block;
    max-width: 100%;
}

.imagem-centralizada figcaption {
    margin-top: 10px;
}